/** folha de estilo do site w12carservice.com
@author Pedro Henrique Dantas Silva
@eo_dantasph
*/

/*layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*Variáveis*/
:root {

    --vermelho: #ed1822;
    --vermelhoescuro: #a61118;
    --amarelo: #d4d133;
    --branco: #fff;
    --preto: #000;
    --cinzaescuro: #191919;

}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed";
}

.container {
    display: flex;
    margin: 0 auto;
}

/* Botão */

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #ed1822;
    color: #ffffff;
    padding: 7px 30px;
    border-radius: 50px;
    border: 1px solid #ffffff;

}


/* FIM layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */



/* Smartphone portraint >>>>>>>>>>>>>>>>>>>>>>>> */

/*cabeçalho*/
body {
    background-color: #d81414;
}

header {
    height: 65px;
    background-color: var(--vermelhoescuro);
}

.logo img {
    width: 129px;
    height: 128px;
    padding-left: 10px;
    padding-top: 10px;

}

#check {
    display: none;
}

label {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.75);
    position: fixed;
    top: 0px;
    right: 15px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 65px;
    width: 60%;
    right: -60%;
    /*de acordo com o Width*/
    background-color: rgba(184, 0, 0, 0.9);
    transition: all 0.5s;
}

/* Ação para a caixa checkbox*/
/* Quando selecionado mudar ul */

#check:checked~ul {
    right: 0px;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--amarelo);
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: var(--amarelo);
}

/* Principal */

main {
    height: 50vh;
    background-color: #000;
    background: url(fotos/banner/banner.jpg);
    background-size: cover;
    background-position: center;
}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    text-align: center;
    color: var(--branco);
    font-size: 1.5rem;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.5), 2px 2px 7px rgba(255, 255, 255, 0.5);
}

main h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    padding-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
}

#destaque {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    background: url(fotos/banner/bannerfundo.png);
    background-size: cover;
    background-position: center;

}

#destaque .container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* alinha verticalmente */
    flex-wrap: wrap;
    /* permite quebrar linha no mobile */
    gap: 40px;
    /* espaço entre a imagem e o bloco vermelho */
}

#hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#hero img {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 500px;
    width: 50%;
    text-align: center;
}

.hero-text {
    font-size: 1rem;
    margin-left: 2vh;
}

.hero-text h2 {
    font-size: 1.7rem;
    color: white;
    margin-bottom: 15px;
}

.hero-text p {
    color: white;
}

.topic {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topic p {
    display: flex;
}

.vermelho {
    display: flex;
    flex-direction: column;
    color: rgb(241, 233, 233);
    align-items: center;
    border-radius: 15px;
    width: 350px;
    height: 300px;
    max-width: 400px;
    text-align: center;
    text-shadow: -2px 2px 5px rgba(255, 255, 255, 0.8);
}

.vermelho img {
    width: 40px;
}

.topic p {
    margin-left: 10px;
}



section .oquefazemos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    color: #fff;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

section .oquefazemos p {
    font-size: 16px;
    margin-bottom: 10px;
}

section .oquefazemos h2 {
    margin-top: 10px;
}


#video {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -2px 2px 2 rgba(0, 0, 0, 0.8);
}

#video iframe {
    width: 80%;
    max-width: 414px;
    height: 215px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;

}

.fqs {
    background-color: var(--vermelhoescuro);
    margin: 0;
}


.bloco_inteiro {
    display: flex;
    margin-top: 0;
}

.bloco_esquerdo {
    display: flex;
    flex-direction: row;
}

.texto_link {
    color: aliceblue;
}

.texto_link p {
    margin-bottom: 20px;
    text-shadow: -2px 2px 8px white;
}

.bloco_direita {
    display: none;
}

address{
    background-color:#0a0a0a;
    height: 400px;
}

footer{
    background-color: #070707;
    height: 200px;
}

#elementos{
    display: block;
    background-color: #a61118;
    text-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#elementos .container {
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;      /* centraliza na vertical */
    flex-wrap: wrap;          /* permite quebrar linha se tiver vários cartões */
    gap: 40px;                /* espaço entre os cartões */
    padding-bottom: 40px;     /* espaço abaixo */
}

.carta {
    width: 340px;
    height: 470px;
    background-color: #8b070d;
    margin-top: 25px;
    border:1px solid black; 
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.carta img{
    border-radius: 25px 25px 0px 0px ;
}

.carta h2{
    font-size: 1.3rem;
    color: var(--amarelo);
    margin: 15px 0px;

}

.carta p{
    color: var(--branco);
    text-align: left;
    padding: 0px 10px 30px 10px;
}

.carta a{
    color: var(--amarelo);
    border:1px solid #92030a ;
}

address{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

address img{
    height: 45px;
    width: 45px;
    margin-bottom: 5px;
    margin-top: 5px;
}

address p{
    color: var(--branco);
    font-size: 1rem;
}

.infor{
    margin-left: 10px;
}

.mapa{
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 30px;
}

.esquerda_footer{
    margin: 0 auto;
}

.esquerda_footer a{
    text-decoration: none;
    color: aliceblue;
}

.esquerda_footer i{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

.direita_footer{
    margin: 0 auto;

} 

.direita_footer img{
    margin: 0 10px;
}

html{
    scroll-behavior: smooth;
}



/* FIM Smartphone portraint <<<<<<<<<<<<<<<<<<<< */


/* Smartphone landscap >>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 576px) {

    /* Cabeçario */
    .container {
        max-width: 560px;
    }

    nav ul {
        width: 40%;
        right: -40%;
    }

    /* */
    main {
        height: 75vh;
    }


}

/* FIM Smartphone landscap <<<<<<<<<<<<<<<<<<<<< */


/* Tablet portraint >>>>>>>>>>>>>>>>>>>>>>>>>>>> */


@media (min-width: 768px) {

    /* LAYOUT */
    .container {
        max-width: 720px;
    }

    /* PRINCIPAL */
    main h1 {
        font-size: 4rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

}

/* FIM Tablet portraint <<<<<<<<<<<<<<<<<<<<<<<< */


/* Tablet landscap >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    main {
        height: 50vh;
    }

    main h1 {
        font-size: 3rem;
    }

    main h2 {
        font-size: 2rem;
    }
}

/* FIM Tablet landscap <<<<<<<<<<<<<<<<<<<<<<<<< */


/* Notebook / PC - HD >>>>>>>>>>>>>>>>>>>>>>>>>> */


@media (min-width: 1200px) {

    body {
        background-color: #d81414;
    }

    /*layout*/
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }


    /*Cabeçalho*/
    header {
        height: 80px;

    }

    .logo img {
        width: 150px;
        height: 150px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 10px;
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--preto);

    }

    main {
        height: 60vh;
    }

    /* DESTAQUE */
    #destaque {
        background-attachment: fixed;
    }

    #hero img {
        width: 400px;
        height: 400px;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .topic {
        display: flex;
    }

    .seg_bloco {
        display: flex;
        flex-direction: row;
        height: 400px;
        gap: 300px;
    }

    .seg_bloco .vermelho {
        align-items: center;
        margin-top: 5%;

    }

    .fqs {
        display: flex;
        justify-content: center;
        height: 30%;
    }

    .oquefazemos {
        display: flex;
        width: 700px;
    }
    

    .oquefazemos p{
        text-align: left;
    }

    #video {
        display: flex;
        width: 500px;
        margin-top: 30px;
    }

    .bloco_inteiro {
        display: flex;
        justify-content: center;
        gap: 350px;
        margin-left: -50px;
    }

    .bloco_esquerdo{
        display: flex;
        justify-content: center;

    }


    .bloco_direita {
        display: flex;
    }

    .bloco_direita img {

        height: 200px;

    }

    #elementos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        margin-left: -30px;
    }

    .carta{
        margin: 0;
    }



    .saia{
        display: flex;
        justify-content: center;
        margin: auto 0;
        gap: 300px;
    }

    .infor{
        display: flex;
        flex-direction: row-reverse;
        gap: 150px;
    }

    .mapa{
        display: flex;
    }

    .mapa iframe{
        height: 250px;
    }

    footer{
        flex-direction: row;
        justify-content: center;
        height: 150px;
    }

    .esquerda_footer{
        margin: auto;
    }

    .direita_footer{
        margin: auto;
    }
}


/* FIM Notebook / PC - HD <<<<<<<<<<<<<<<<<<<<<< */


/* Notebook / PC / TV - Full HD ou 4K >>>>>>>>>> */


@media (min-width: 1400px) {

    /* LAYOUT */
    .container {
        max-width: 1340px;
    }

    /* PRINCIPAL */
    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 2rem;
    }

}

/* FIM Notebook / PC / TV - Full HD ou 4K <<<<<< */